<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.css"/>
    <!--<link rel="stylesheet" th:href="@{../app.css}" type="text/css">-->
    <!--<link rel="stylesheet" href="../static/app.css">-->


</head>
<body>
<div class="expanded row header">
    <div class="top-bar">

        <h3>Welcome</h3>

    </div>
</div>
<div class="row">
    <div class="small-6  columns">
        <h3>Sign Up</h3>
        <form th:action="@{/signup}" method="post">
            <input type="text" placeholder="User Name" name="userName">
            <input type="text" placeholder="Email" name="email">
            <input type="submit" class="button" value="Sign Up">
        </form>
    </div>
    <!--<div class="small-6  columns">-->
        <!--<div class="area" th:each="user : ${users}"></div>-->
        <!--<h1>New User</h1>-->
        <!--<h3 th:text="${user.getName}"></h3>-->
        <!--<h3 th:text="${user.getEmail}"></h3>-->
        <!--<hr>-->
    <!--</div>-->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>